body{
    min-height: 100vh;
    background-image:url(Imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

@import url('http://fonts.cdnfonts.com/css/angelface');

.header{
    background: linear-gradient(to right top, #7ABFB3, #5C9EC4);
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
}

.anyaLog{
    width: 80px;
    height: 80px;
    margin: 0;
}

.logo{
    margin: 0;
    display: flex;
    width: 85%;

}

.titulo{
    color: #D9618D;
    font-family: 'Angelface', sans-serif;
    font-size: 50px;  
    margin: 0 auto;
    padding-top: 20px;
}

.space{
    padding: 5% 0;
}

form{
    background: linear-gradient(#7abfb4d0, #d9618dd0);
    width: 280px;
    padding: 20px 10px;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 15px;
}

fieldset{
    width: 180px;
    margin: 0 auto;
    border: none;
    padding: 0 0 10px 0;
}

input{
    display: block;
    border: none;
    margin: 20px auto;
    width: 280px;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    color: #D9618D;
}

input[type="email"]{
    background-color: #c6eee7b0;
}

input[type="password"]{
    background-color: #c6eee7b0;
}

input[type="submit"]{
    background: linear-gradient(to left top, #5C9EC4, #7ABFB3);
    color: #D9618D;
    cursor: pointer;
}

legend{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #A6445E;
}

a{
    text-decoration: none;
    color: #1C3D59;
    font-weight: bold;
}
