body{
    background-color: #F2D4C2;
}

.header{
    background: linear-gradient(to right top, #7ABFB3, #5C9EC4);
    position: fixed;
    display: flex;
    width: 100%;
}

.anyaLog{
    width: 80px;
    height: 80px;
    margin: 0;
}

.logo{
    margin: 0;
    display: flex;
    width: 85%;

}

.titulo{
    color: #D9618D;
    font-family: 'Angelface', sans-serif;
    font-size: 50px;  
    margin: 0 auto;
    padding-top: 20px;
}

.loggers{
    display: inline-flex;
    margin: 1px;
    padding: 35px;
}

a{
    text-decoration: none;
    color: #A6445E;
    margin: 5px;
    left: 10px;
    padding: 0;
    font-weight: bold;
}

.registrar{
    margin-left: 20px;
}

.menuBarr{
    border-top: 0.5px solid #A6445E;
    padding: auto 0;
    top: 90px;
    position: fixed;
    width: 100%;
    display: inline-flex;
    background: linear-gradient(to right bottom, #7ABFB3, #5C9EC4);
    margin: 0 auto;
}

.item{
    border: 1px #A6445E solid;
    margin: auto 0;
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 8px;
    border-top: none;
    border-left: none;
}

.space{
    padding: 62px;
    border: 1px #A6445E solid;
    margin-bottom: 5px;
}

.image{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: #f2d4c200;
    background-image: url(Imagenes/Gato.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.vid{
    display: flex;
    margin-bottom: 50px;
}

.video{
    margin-left: 20px;
}

.descripcion{
    margin-left: 20px;
}